@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  grid-template-rows: 2fr auto 3fr;
  background-color: rgb(97, 197, 236);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  height: 100vh;
}

.form-container {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  margin: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

input#city-name,
#search-submit {
  padding: 7px 13px;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 1rem;
}

.main-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(78, 161, 194);
  justify-self: center;
  align-self: center;
  min-width: 300px;
  max-width: max-content;
  border-radius: 20px;
  padding: 15px;
}

p {
  margin: 0px;
  padding: 0px;
}

#location {
  font-size: 1.7rem;
}

.button-container {
  grid-column: 2/3;
  grid-row: 3/4;
}

.conditions-div {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  margin-top: 30px;
  margin-bottom: 50px;
}

#conditions {
  border-right: 2px solid black;
  padding-right: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 51, 102);
}

.unit-toggle {
  font-size: 1.3rem;
  width: 60px;
  border: 1px solid black;
}

button:active {
  box-shadow: inset 1px 1px 1px gray;
}

#button-celc {
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#button-fahr {
  border-left: 1px solid gray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
